<section
  class="w-full max-w-md lg:max-w-6xl mx-auto px-4 py-8"
  *transloco="let t; prefix: 'posts.list'"
>
  <header class="list-header">
    <h1>{{ t('title') }}</h1>
  </header>

  <aside class="my-4 flex flex-row gap-2 flex-wrap">
    <app-select
      [label]="t('filters.allAuthors')"
      [options]="authorOptions()"
      [selectedValue]="filterService.selectedAuthor()"
      (valueChange)="onAuthorChange($event)"
    ></app-select>

    <app-select
      [label]="t('filters.allTags')"
      [options]="tagOptions()"
      [selectedValue]="filterService.selectedTag()"
      (valueChange)="onTagChange($event)"
    ></app-select>

    <div class="flex ml-auto self-end">
      <span class="text-center text-brand-secondary text-xs font-bold uppercase tracking-wider">
        {{
          t('showingResults', { current: paginatedPosts().length, total: filteredPosts().length })
        }}
      </span>
    </div>
  </aside>

  <article class="flex flex-col gap-8">
    @if (postsService.isLoading()) {
      <div class="text-center p-12 text-lg text-brand-primary">{{ t('loading') }}</div>
    } @else if (postsService.error()) {
      <div class="text-center p-12 text-lg text-brand-primary">{{ t('error') }}</div>
    } @else {
      <div class="flex flex-col gap-8">
        @for (post of paginatedPosts(); track post.id; let isOdd = $odd) {
          <app-card
            (click)="goToViewDetail(post.id)"
            [styles]="isOdd ? 'bg-brand-surface' : 'bg-brand-surface-variant'"
            [date]="post.createdAt"
            [title]="post.title"
            [description]="post.body"
            [author]="post.author?.name ?? ''"
            [tags]="post.tags"
          >
          </app-card>
        } @empty {
          <div class="text-center p-12 text-lg text-brand-primary">{{ t('noResults') }}</div>
        }
      </div>

      <app-pagination
        [page]="currentPage()"
        [total]="totalPages()"
        [maxVisible]="3"
        (pageChange)="onPageChange($event)"
      ></app-pagination>
    }
  </article>
</section>
